# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
AlgTest.iml
out/
src/main/resources/
src/test/
target/
lib/
